/* VFW
   Term 1305
   Banchop Ben Kangdouangnhot
   Project 4
 */
   
   
html {
     background-color: #fff;
}
body {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 1.5em auto;
    padding: 1.5em;
    background-color: #fff;
    color: #000000;
    max-width: 30em;
    border: .55em solid #1E90FF;
    line-height: 1.5em;
    
}
p {
    margin: 1.5em 0;
   
}
h1 {
	
	text-align: center;
    background-color: #00BFFF;
    color: #F8F8FF;
    font-size: 200%;
    padding: 1em;
    border: 3px solid black;
    font-family:"Times New Roman", Times, serif;

}

h2 {
	text-align: left;
	font-size: 130%;
	color: #9400D3;
	text-align: center;
    padding: 1em;
    font-family:"Times New Roman", Times, serif;
}

label {
	display : block;

}


nav {
	font-size: 120%;
	text-align: center;
	color: #000000;
	padding: .5em;
    background-color: #87CEFA; 
    font-family:"Times New Roman", Times, serif;
}

input {
	color: #191970;
	
}

#range {
    -webkit-appearance: slider-horizontal;
    width: 100px;
    height: 5px;
}

legend {
	text-align: center;
	font-size: 130%;
	font-weight: bold;
	color: #0000FF;
	font-family:"Times New Roman", Times, serif;
}

fieldset {
	margin: .2em 0;
}


